#container {
  margin: 0 auto;
  width: 95%;
  margin-top: 15pt;
  /* display: flex; */
  /* justify-items: center; */
}

.bg-one {
  background-image: url(./assets/nft-image-2.png);
}

/* .wrapper{
  width: 37%;
  margin: 20px;
  height: 280px;
  overflow: hidden;
  position: relative;
  display: inline-block;

} */

.image {
  width: 300px;
  height: 320px;
  border-radius: 5pt;
  position: relative;
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}

/* .column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
} */

/* .hover01 figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
} */

/* .hover01 figure .bg-one {
  transform: scale(1);
  transition: 0.3s ease-in-out;
} */

/* .hover01 figure:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
} */

/* .hover01 figure:hover .bg-one {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
} */

figure {
  width: 300px;
  height: 320px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 5pt;
}
/* figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
} */

.text {
  /* position: absolute; */
  display: flex;
  color: rgb(255, 255, 255);
  left: 500px;
  top: 1200px;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
  /* transform: translate(-50%, -50%); */
}

.container2 {
  position: relative;
  width: 300px;
}

/* Image styling */
/* .background-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
} */

/* .background-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  ); 
  pointer-events: none; 
} */

.overlay-text {
  position: absolute;
  top: 90%;
  left: 32%;
  /* transform: translate(-50%, -50%); */
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20pt;
  background-color: black;
  width: 100%;
}
.slick-slide img {
  width: 100%;
  height: 320px;
}
.img-part {
  position: relative;
}
.overlay-image-text {
  position: absolute;
  bottom: 0;
}
.overlay-image-text p {
  margin: 0;
}
.overlay-image-text {
  position: absolute;
  /* bottom: 1px; */
  /* background: black; */
  color: #fff;
  width: 100%;
  padding: 10px;
  background-color: rgba(14, 13, 13, 0.418);
}
