#container {
  margin: 0 auto;
  width: 95%;
  /* display: flex; */
  /* justify-items: center; */
}

.bg-one {
  background-image: url(./assets/nft-image-2.png);
}

/* .wrapper{
  width: 37%;
  margin: 20px;
  height: 280px;
  overflow: hidden;
  position: relative;
  display: inline-block;

} */

.image {
  width: 300px;
  height: 320px;
  border-radius: 5pt;
  position: relative;
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}

/* .column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
} */

.hover01 figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

/* .hover01 figure .bg-one {
  transform: scale(1);
  transition: 0.3s ease-in-out;
} */

.hover01 figure:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* .hover01 figure:hover .bg-one {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
} */

figure {
  width: 300px;
  height: 320px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 5pt;
}
/* figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
} */

.text {
  /* position: absolute; */
  display: flex;
  color: rgb(0, 0, 0);
  left: 500px;
  top: 1200px;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
  /* transform: translate(-50%, -50%); */
}

/* Container for the image and text */
.container2 {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

/* Image styling */
.background-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

/* Darkening effect for the background image */
.background-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the darkened area */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  ); /* Gradient for darkening effect */
  pointer-events: none; /* Allows interaction with elements beneath the dark overlay */
}

/* Text styling */
.overlay-text {
  position: absolute;
  top: 90%;
  left: 32%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0.103
  ); /* Adjust the alpha value for transparency */
}
