.custom-button {
  border-color: #bdbdbd;
  font-size: 12pt;
  background: rgb(250, 250, 250);
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #d6d6d6;
  /* --bs-btn-border-color: #f8f9fa; */
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  /* --bs-btn-hover-border-color: #f3f3f3; */
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f0f0f0;
  /* --bs-btn-active-border-color: #babbbc; */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.basic-single {
  margin-left: 10pt;
}

.view-all-button {
  margin-left: 10pt;
  font-size: 12pt;
}

#tbg-radio-1,
#tbg-radio-2,
#tbg-radio-3,
#tbg-radio-4,
#tbg-radio-5,
#tbg-radio-6,
#tbg-radio-7,
#tbg-radio-8 {
  border: 0pt;
  font-size: 12pt;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0pt;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0pt;
}
.select__control {
  border: none !important;
  background-color: rgb(211, 211, 211) !important;
  width: 180px;
}

.select__dropdown-indicator {
  color: hsl(0deg 0% 51.97%) !important;
}

.select__indicator-separator {
  display: none;
  background-color: hsl(0deg 1.51% 62.43%) !important;
}

.filter{
  display: flex; 
  justify-content: space-between; 
  margin-left: 25pt; 
  margin-right: 25pt; 
  margin-bottom: 25pt;
}

.filter2{
  display: none; 
  flex-direction: column;
  justify-content: space-between; 
  margin-left: 25pt; 
  margin-right: 25pt; 
  margin-bottom: 25pt;
  gap: 10pt;
}

.select-group1{
  display: flex;
  justify-content: space-between;
}

.view-all-button2 {
  font-size: 12pt;
}

.button-group-1{
  width: 100%; 
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width : 768px) {
  .filter2{
    display: flex;
  }

  .filter{
    display: none;
  }

  .table-container{
    overflow-x: scroll;
    width: 400px;
  }
}