.mintContainer {
    margin-top: 30px; 
    margin-left: 56px; 
    margin-right: 45%;
}


#collection{
    background-color: white;
    text-emphasis-color: grey;
    box-shadow: none;
    border :  1pt solid #dfdfdf; 
    border-top : 1pt solid #dfdfdf;
    border-radius : 5pt;
    overflow : hidden;
    
}

#collection2{

    border-right: none;
}

#input-group-dropdown-2{
    border: 1pt solid #dfdfdf;
    border-left: none;
}
